.contact-social-list{
    position: fixed;
    right: 57px;
    bottom: 107px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 100;
  }

  .contact-social-list div {
    border-radius: 100%;
  }

  .image-icon{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-bottom: 15px;
  }

  .contact-message{
    position: fixed;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    right: 40px;
    bottom: 32px;
    cursor: pointer;
    z-index: 100
    ;
  }

  .contact-message {
    bottom: 3%!important;
    right: 24px!important;
  }